<a href="https://colab.research.google.com/github/parinnay/quant_finance/blob/main/momentum_investment_strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import requests
import math
from scipy import stats

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 8.7 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [ ]:
import xlsxwriter

In [ ]:
stocks = pd.read_csv("sp_500_stocks.csv")

In [ ]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

In [ ]:
symbol = "AAPL"
api_url = f"https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}"
data = requests.get(api_url).json()

In [ ]:
data

{'avg10Volume': 90774498,
 'avg30Volume': 99009055,
 'beta': 1.2670278300401772,
 'companyName': 'Apple Inc',
 'day200MovingAvg': 165.71,
 'day30ChangePercent': 0.07790637121300689,
 'day50MovingAvg': 170.22,
 'day5ChangePercent': 0.04505716243254212,
 'dividendYield': 0.005075497767764153,
 'employees': 149461,
 'exDividendDate': '2022-01-29',
 'float': 0,
 'marketcap': 3020527504309,
 'maxChangePercent': 69.96514494736223,
 'month1ChangePercent': 0.07957056609597074,
 'month3ChangePercent': -0.001199156186260345,
 'month6ChangePercent': 0.25065836832890404,
 'nextDividendDate': '',
 'nextEarningsDate': '2022-04-23',
 'peRatio': 29.32990651470329,
 'sharesOutstanding': 16785779516,
 'ttmDividendRate': 0.880802266626103,
 'ttmEPS': 6.11,
 'week52change': 0.4659061045935102,
 'week52high': 186.28,
 'week52highSplitAdjustOnly': 187.48,
 'week52low': 125.36,
 'week52lowSplitAdjustOnly': 127.05,
 'year1ChangePercent': 0.5042821828150902,
 'year2ChangePercent': 1.8341853691715087,
 'year5ChangePercent': 4.395013992885506,
 'ytdChangePercent': 0.00249604484598466}

In [ ]:
data["year1ChangePercent"]

0.5042821828150902

In [ ]:
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i+n]

symbol_groups = list(chunks(stocks["Ticker"], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(",".join(symbol_groups[i]))

my_columns = ["Ticker", "Price", "One-Year Price Return", "Number of Shares to Buy"]

In [ ]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f"https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=price,stats&token={IEX_CLOUD_API_TOKEN}"
    data = requests.get(batch_api_call_url).json()

    for symbol in symbol_string.split(","):
        try:
            final_dataframe = final_dataframe.append(
                pd.Series(
                    [symbol,
                    data[symbol]["price"],
                    data[symbol]["stats"]["year1ChangePercent"],
                    "N/A"],
                    index = my_columns), 
                    ignore_index = True
                )
        except:
            pass

In [ ]:
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  138.68              0.091916                     N/A
1      AAL   18.42             -0.258369                     N/A
2      AAP  209.67              0.163737                     N/A
3     AAPL  182.64              0.492665                     N/A
4     ABBV  163.95              0.613888                     N/A
..     ...     ...                   ...                     ...
497    YUM  119.94              0.120563                     N/A
498    ZBH  129.30             -0.206588                     N/A
499   ZBRA  433.70             -0.099779                     N/A
500   ZION   68.72              0.243892                     N/A
501    ZTS  196.83              0.229356                     N/A

[502 rows x 4 columns]

In [ ]:
final_dataframe.sort_values("One-Year Price Return", ascending = False, inplace = True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)

In [ ]:
final_dataframe

    index Ticker   Price One-Year Price Return Number of Shares to Buy
0     274     LB   83.66              2.309715                     N/A
1     148    DVN   61.86              1.919756                     N/A
2     316    MRO   25.37              1.420805                     N/A
3      42    APA   41.64              1.385595                     N/A
4      89     CF  106.66              1.309692                     N/A
5     344   NVDA  276.83              1.180016                     N/A
6     356    OXY   59.33              1.160746                     N/A
7     313    MOS   68.70              1.118124                     N/A
8     298   MCHP   75.78              1.085074                     N/A
9     109    COP  104.00              0.980375                     N/A
10    343    NUE  151.96              0.929468                     N/A
11    195   FTNT  342.92              0.922345                     N/A
12    175   FANG  137.88               0.92118                     N/A
13     37   ANET  140.09              0.879953                     N/A
14    212    HAL   38.76              0.835924                     N/A
15     66    BKR   37.54              0.772849                     N/A
16    160    EOG  123.15              0.746531                     N/A
17    385    PXD  252.22              0.729505                     N/A
18    250     IT  302.61              0.685025                     N/A
19    314    MPC   88.50              0.671086                     N/A
20    110   COST  592.73              0.665073                     N/A
21    381    PSA  398.89              0.662752                     N/A
22    123    CVX  164.83              0.650894                     N/A
23    173    EXR  212.30              0.618079                     N/A
24      4   ABBV  163.95              0.613888                     N/A
25    299    MCK  319.00               0.59959                     N/A
26    179    FCX   50.67              0.588932                     N/A
27    170    EXC   48.03              0.588716                     N/A
28    282    LLY  297.54              0.587848                     N/A
29     11    ADM   92.64              0.586766                     N/A
30     31    AMD  109.86              0.586045                     N/A
31    411    SLB   42.25              0.584094                     N/A
32    248    IRM   57.46              0.583844                     N/A
33    493    XOM   85.14               0.57955                     N/A
34    464    VAR  178.72              0.572917                     N/A
35    372    PLD  162.31              0.567915                     N/A
36    218    HES  110.54              0.560414                     N/A
37    394    RHI  114.65              0.550257                     N/A
38     23    ALB  230.96              0.546718                     N/A
39    351    OKE   72.20              0.546264                     N/A
40    384    PWR  136.32              0.535426                     N/A
41    272    KSU  294.19              0.531624                     N/A
42    483    WMB   33.61              0.527834                     N/A
43    258   JNPR   38.43              0.518695                     N/A
44    364    PFE   53.62              0.517781                     N/A
45    487    WST  420.12              0.513737                     N/A
46    270     KR   59.47              0.513722                     N/A
47    150   DXCM  516.20              0.510853                     N/A
48    407    SEE   67.17              0.500426                     N/A
49      3   AAPL  182.64              0.492665                     N/A

In [ ]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the size of your portfolio:")
    try:
        float(portfolio_size)
    except:
        print("This is not a number")
        portfolio_size = input("Enter the size of your portfolio:")

In [ ]:
portfolio_input()

Enter the size of your portfolio:80

In [ ]:
position_size = float(portfolio_size)/len(final_dataframe.index)
position_size

1.6

In [ ]:
for i in range(0, len(final_dataframe)):
    final_dataframe.loc[i, "Number of Shares to Buy"] = math.floor(position_size/final_dataframe.loc[i, "Price"])

In [ ]:
final_dataframe

    index Ticker   Price One-Year Price Return Number of Shares to Buy
0     274     LB   83.66              2.309715                       0
1     148    DVN   61.86              1.919756                       0
2     316    MRO   25.37              1.420805                       0
3      42    APA   41.64              1.385595                       0
4      89     CF  106.66              1.309692                       0
5     344   NVDA  276.83              1.180016                       0
6     356    OXY   59.33              1.160746                       0
7     313    MOS   68.70              1.118124                       0
8     298   MCHP   75.78              1.085074                       0
9     109    COP  104.00              0.980375                       0
10    343    NUE  151.96              0.929468                       0
11    195   FTNT  342.92              0.922345                       0
12    175   FANG  137.88               0.92118                       0
13     37   ANET  140.09              0.879953                       0
14    212    HAL   38.76              0.835924                       0
15     66    BKR   37.54              0.772849                       0
16    160    EOG  123.15              0.746531                       0
17    385    PXD  252.22              0.729505                       0
18    250     IT  302.61              0.685025                       0
19    314    MPC   88.50              0.671086                       0
20    110   COST  592.73              0.665073                       0
21    381    PSA  398.89              0.662752                       0
22    123    CVX  164.83              0.650894                       0
23    173    EXR  212.30              0.618079                       0
24      4   ABBV  163.95              0.613888                       0
25    299    MCK  319.00               0.59959                       0
26    179    FCX   50.67              0.588932                       0
27    170    EXC   48.03              0.588716                       0
28    282    LLY  297.54              0.587848                       0
29     11    ADM   92.64              0.586766                       0
30     31    AMD  109.86              0.586045                       0
31    411    SLB   42.25              0.584094                       0
32    248    IRM   57.46              0.583844                       0
33    493    XOM   85.14               0.57955                       0
34    464    VAR  178.72              0.572917                       0
35    372    PLD  162.31              0.567915                       0
36    218    HES  110.54              0.560414                       0
37    394    RHI  114.65              0.550257                       0
38     23    ALB  230.96              0.546718                       0
39    351    OKE   72.20              0.546264                       0
40    384    PWR  136.32              0.535426                       0
41    272    KSU  294.19              0.531624                       0
42    483    WMB   33.61              0.527834                       0
43    258   JNPR   38.43              0.518695                       0
44    364    PFE   53.62              0.517781                       0
45    487    WST  420.12              0.513737                       0
46    270     KR   59.47              0.513722                       0
47    150   DXCM  516.20              0.510853                       0
48    407    SEE   67.17              0.500426                       0
49      3   AAPL  182.64              0.492665                       0

In [ ]:
#improved strategy

In [ ]:
hqm_columns = ['Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
               
]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

In [ ]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        try:
            hqm_dataframe = hqm_dataframe.append(
                                            pd.Series([symbol, 
                                                    data[symbol]['quote']['latestPrice'],
                                                    'N/A',
                                                    data[symbol]['stats']['year1ChangePercent'],
                                                    'N/A',
                                                    data[symbol]['stats']['month6ChangePercent'],
                                                    'N/A',
                                                    data[symbol]['stats']['month3ChangePercent'],
                                                    'N/A',
                                                    data[symbol]['stats']['month1ChangePercent'],
                                                    'N/A',
                                                    'N/A'
                                                    ], 
                                                    index = hqm_columns), 
                                            ignore_index = True)
        except:
            pass

In [ ]:
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,135.90,N/A,0.09195,N/A,-0.157165,N/A,-0.162373,N/A,0.013329,N/A,N/A
1,AAL,18.27,N/A,-0.252986,N/A,-0.145312,N/A,-0.001144,N/A,0.035347,N/A,N/A
2,AAP,214.21,N/A,0.163832,N/A,-0.01211,N/A,-0.102561,N/A,0.037925,N/A,N/A
3,AAPL,182.57,N/A,0.515234,N/A,0.257904,N/A,-0.001149,N/A,0.078621,N/A,N/A
4,ABBV,166.18,N/A,0.630787,N/A,0.55775,N/A,0.220456,N/A,0.097506,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
497,YUM,120.35,N/A,0.119489,N/A,-0.009611,N/A,-0.125081,N/A,-0.024206,N/A,N/A
498,ZBH,132.70,N/A,-0.200637,N/A,-0.142013,N/A,0.005359,N/A,0.01817,N/A,N/A
499,ZBRA,420.30,N/A,-0.095658,N/A,-0.18623,N/A,-0.283771,N/A,0.027737,N/A,N/A
500,ZION,66.02,N/A,0.238633,N/A,0.068749,N/A,0.074487,N/A,-0.052266,N/A,N/A
501,ZTS,193.95,N/A,0.228277,N/A,-0.016439,N/A,-0.225341,N/A,-0.017835,N/A,N/A

In [ ]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
        for time_period in time_periods:
            hqm_dataframe[f"{time_period} Price Return"] = pd.to_numeric(hqm_dataframe[f"{time_period} Price Return"])
            hqm_dataframe.loc[row, f"{time_period} Return Percentile"] = stats.percentileofscore(hqm_dataframe[f"{time_period} Price Return"].to_list(), 
                                                                                                 hqm_dataframe.loc[row, f"{time_period} Price Return"])

In [ ]:
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,135.90,N/A,0.091950,42.430279,-0.157165,8.964143,-0.162373,15.936255,0.013329,40.239044,N/A
1,AAL,18.27,N/A,-0.252986,4.581673,-0.145312,11.553785,-0.001144,52.988048,0.035347,50.996016,N/A
2,AAP,214.21,N/A,0.163832,55.976096,-0.012110,35.856574,-0.102561,29.083665,0.037925,52.390438,N/A
3,AAPL,182.57,N/A,0.515234,90.239044,0.257904,85.059761,-0.001149,52.788845,0.078621,68.7251,N/A
4,ABBV,166.18,N/A,0.630787,94.621514,0.557750,96.613546,0.220456,90.438247,0.097506,76.89243,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
497,YUM,120.35,N/A,0.119489,48.406375,-0.009611,37.051793,-0.125081,22.908367,-0.024206,22.50996,N/A
498,ZBH,132.70,N/A,-0.200637,7.768924,-0.142013,11.952191,0.005359,56.175299,0.018170,43.625498,N/A
499,ZBRA,420.30,N/A,-0.095658,17.131474,-0.186230,6.772908,-0.283771,1.195219,0.027737,47.609562,N/A
500,ZION,66.02,N/A,0.238633,68.924303,0.068749,54.38247,0.074487,73.505976,-0.052266,13.944223,N/A
501,ZTS,193.95,N/A,0.228277,66.533865,-0.016439,35.059761,-0.225341,5.976096,-0.017835,25.498008,N/A

In [ ]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

In [ ]:
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,135.90,N/A,0.091950,42.430279,-0.157165,8.964143,-0.162373,15.936255,0.013329,40.239044,26.89243
1,AAL,18.27,N/A,-0.252986,4.581673,-0.145312,11.553785,-0.001144,52.988048,0.035347,50.996016,30.02988
2,AAP,214.21,N/A,0.163832,55.976096,-0.012110,35.856574,-0.102561,29.083665,0.037925,52.390438,43.326693
3,AAPL,182.57,N/A,0.515234,90.239044,0.257904,85.059761,-0.001149,52.788845,0.078621,68.7251,74.203187
4,ABBV,166.18,N/A,0.630787,94.621514,0.557750,96.613546,0.220456,90.438247,0.097506,76.89243,89.641434
...,...,...,...,...,...,...,...,...,...,...,...,...
497,YUM,120.35,N/A,0.119489,48.406375,-0.009611,37.051793,-0.125081,22.908367,-0.024206,22.50996,32.719124
498,ZBH,132.70,N/A,-0.200637,7.768924,-0.142013,11.952191,0.005359,56.175299,0.018170,43.625498,29.880478
499,ZBRA,420.30,N/A,-0.095658,17.131474,-0.186230,6.772908,-0.283771,1.195219,0.027737,47.609562,18.177291
500,ZION,66.02,N/A,0.238633,68.924303,0.068749,54.38247,0.074487,73.505976,-0.052266,13.944223,52.689243
501,ZTS,193.95,N/A,0.228277,66.533865,-0.016439,35.059761,-0.225341,5.976096,-0.017835,25.498008,33.266932

In [ ]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:51]

In [ ]:
portfolio_input()

Enter the size of your portfolio:10000

In [ ]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe.sort_values(by = "HQM Score", ascending = False, inplace = True)
hqm_dataframe.reset_index(inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
hqm_dataframe

,index,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,42,APA,43.18,4,1.370732,98.605578,0.995619,99.203187,0.551622,98.207171,0.233832,97.808765,98.456175
1,11,ADM,91.36,2,0.593667,94.023904,0.500534,95.01992,0.345887,95.418327,0.133623,90.438247,93.7251
2,4,ABBV,166.18,1,0.630787,94.621514,0.557750,96.613546,0.220456,90.438247,0.097506,76.89243,89.641434
3,39,ANTM,513.15,0,0.411737,86.055777,0.300670,88.247012,0.079873,75.298805,0.114732,85.059761,83.665339
4,47,ATO,120.38,1,0.244191,69.920319,0.377657,91.832669,0.165625,86.653386,0.107341,81.2749,82.420319
5,5,ABC,159.35,1,0.324958,77.091633,0.279837,86.454183,0.166151,86.85259,0.095627,76.095618,81.623506
6,37,ANET,141.03,1,0.888358,96.613546,0.626664,97.410359,-0.035031,43.027888,0.123609,88.645418,81.424303
7,40,AON,333.21,0,0.433939,88.047809,0.125834,65.537849,0.091413,77.290837,0.117491,86.055777,79.233068
8,15,AEP,101.88,1,0.220286,65.737052,0.237142,82.868526,0.132234,82.669323,0.113956,84.661355,78.984064
9,26,ALL,141.11,1,0.241310,69.521912,0.102557,59.163347,0.201436,90.039841,0.132259,90.239044,77.241036
10,17,AFL,64.64,3,0.306392,75.099602,0.267959,85.856574,0.127051,81.87251,0.057695,60.956175,75.946215
11,20,AIZ,190.05,1,0.279266,73.505976,0.142306,68.7251,0.186589,87.848606,0.082043,70.119522,75.049801
12,21,AJG,181.10,1,0.406744,85.856574,0.161540,72.50996,0.034716,64.143426,0.094584,75.697211,74.551793
13,3,AAPL,182.57,1,0.515234,90.239044,0.257904,85.059761,-0.001149,52.788845,0.078621,68.7251,74.203187
14,22,AKAM,120.83,1,0.198703,61.752988,0.150598,70.916335,0.035348,64.342629,0.150192,92.430279,72.360558
15,50,AVGO,647.63,N/A,0.430660,87.649402,0.308699,88.844622,-0.046199,39.442231,0.083286,71.314741,71.812749
16,14,AEE,97.02,2,0.183391,58.167331,0.161970,72.709163,0.062142,69.721116,0.099039,77.689243,69.571713
17,18,AIG,64.96,3,0.383366,82.270916,0.154042,71.314741,0.129991,82.47012,0.010808,39.641434,68.924303
18,23,ALB,229.93,0,0.552247,91.832669,0.023356,44.621514,-0.046004,39.641434,0.171617,94.621514,67.679283
19,49,AVB,259.53,0,0.397030,84.661355,0.148853,70.119522,0.009326,57.171315,0.039198,53.187251,66.284861
20,12,ADP,229.60,0,0.239842,69.123506,0.157585,71.513944,-0.070984,35.258964,0.125539,88.844622,66.185259
21,34,AMP,311.33,0,0.369421,81.2749,0.161030,72.310757,0.033423,63.944223,0.027096,46.812749,66.085657
22,16,AES,26.80,7,-0.029867,24.701195,0.126713,65.737052,0.063452,69.920319,0.208866,97.011952,64.342629
23,33,AMGN,242.52,0,0.002489,29.482072,0.151304,71.115538,0.082625,75.896414,0.068489,65.338645,60.458167
24,46,ARE,205.64,0,0.243893,69.721116,0.060912,52.788845,-0.091022,31.87251,0.050899,56.573705,52.739044
25,31,AMD,112.70,1,0.572595,92.231076,0.195881,78.685259,-0.180010,11.952191,-0.015499,26.693227,52.390438
26,36,AMZN,3312.04,0,0.091773,42.031873,0.007632,41.633466,-0.014545,49.203187,0.082093,70.517928,50.846614
27,19,AIV,7.49,26,0.196168,60.756972,0.056269,51.792829,-0.037757,42.031873,0.020886,44.422311,49.750996
28,8,ACN,342.23,0,0.231956,67.729084,0.054552,51.593625,-0.184764,10.956175,0.050260,56.175299,46.613546
29,32,AME,138.28,1,0.069691,39.840637,0.072159,54.780876,-0.075141,34.661355,0.045096,54.38247,45.916335
30,48,ATVI,82.80,2,-0.133398,12.749004,0.039101,49.203187,0.197667,89.641434,-0.013308,27.290837,44.721116
31,2,AAP,214.21,0,0.163832,55.976096,-0.012110,35.856574,-0.102561,29.083665,0.037925,52.390438,43.326693
32,10,ADI,171.61,1,0.113097,46.812749,-0.005573,38.047809,-0.043624,40.239044,0.027538,47.211155,43.077689
33,6,ABMD,346.71,0,0.063092,38.645418,-0.003095,38.645418,-0.095616,30.677291,0.053688,58.964143,41.733068
34,44,APH,78.03,2,0.181362,57.968127,0.034632,48.007968,-0.120750,23.705179,0.000811,34.661355,41.085657
35,25,ALK,60.18,3,-0.170990,10.159363,-0.042276,28.685259,0.121214,81.075697,0.007650,38.446215,39.591633
36,28,ALXN,185.10,1,0.000000,28.784861,0.000000,40.139442,0.000000,54.083665,0.000000,32.968127,38.994024
37,35,AMT,263.44,0,0.081178,40.836653,-0.067335,23.705179,-0.143276,18.924303,0.074405,67.52988,37.749004
38,29,AMAT,138.30,1,0.077404,40.438247,0.061548,52.988048,-0.142619,19.322709,0.000618,34.462151,36.802789
39,30,AMCR,11.65,16,0.001945,29.282869,-0.007411,37.649402,-0.036184,42.430279,-0.022938,23.10757,33.11753
40,43,APD,255.03,0,-0.087250,17.330677,-0.016729,34.661355,-0.163017,15.537849,0.053758,59.163347,31.673307
41,1,AAL,18.27,10,-0.252986,4.581673,-0.145312,11.553785,-0.001144,52.988048,0.035347,50.996016,30.02988
42,7,ABT,121.07,1,0.020915,32.071713,0.015589,43.027888,-0.143924,18.7251,-0.017081,26.095618,29.98008
43,0,A,135.90,1,0.091950,42.430279,-0.157165,8.964143,-0.162373,15.936255,0.013329,40.239044,26.89243
44,41,AOS,66.81,2,-0.028336,25.099602,0.051887,50.796813,-0.226405,5.577689,-0.047016,15.936255,24.35259
45,38,ANSS,329.38,0,-0.035448,23.904382,-0.061260,24.501992,-0.215832,7.569721,-0.012954,27.49004,20.866534
46,27,ALLE,114.89,1,-0.085999,17.52988,-0.158724,8.76494,-0.141315,19.521912,-0.011922,28.486056,18.575697
47,9,ADBE,472.86,0,-0.012008,26.494024,-0.213122,5.577689,-0.198188,8.964143,-0.011994,28.286853,17.330677
48,13,ADSK,218.32,0,-0.180591,9.163347,-0.237749,3.984064,-0.226179,5.776892,0.006294,37.649402,14.143426
49,45,APTV,125.34,1,-0.110996,14.940239,-0.191148,6.175299,-0.251476,2.988048,-0.104538,3.784861,6.972112
50,24,ALGN,438.00,0,-0.160361,11.155378,-0.348011,0.996016,-0.346487,0.996016,-0.139520,0.996016,3.535857

In [ ]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

In [ ]:
writer.save()