<a href="https://colab.research.google.com/github/parinnay/quant_finance/blob/main/value_based_strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

In [2]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 4.3 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [3]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
from scipy import stats

In [4]:
stocks = pd.read_csv("sp_500_stocks.csv")

In [5]:
symbol = "AAPL"
api_url = api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avgTotalVolume': 96764688,
 'calculationPrice': 'close',
 'change': -0.3,
 'changePercent': -0.00177,
 'close': 175.56,
 'closeSource': 'lcoifiaf',
 'closeTime': 1650971000309,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': 176.983,
 'delayedPriceTime': 1714458456698,
 'extendedChange': -0.32,
 'extendedChangePercent': -0.00186,
 'extendedPrice': 182,
 'extendedPriceTime': 1679240504697,
 'high': 180.07,
 'highSource': 'e eteded 15lnirmip ucya',
 'highTime': 1713590525939,
 'iexAskPrice': None,
 'iexAskSize': None,
 'iexBidPrice': None,
 'iexBidSize': None,
 'iexClose': 178.42,
 'iexCloseTime': 1695699385563,
 'iexLastUpdated': None,
 'iexMarketPercent': None,
 'iexOpen': 181.673,
 'iexOpenTime': 1695459629590,
 'iexRealtimePrice': None,
 'iexRealtimeSize': None,
 'iexVolume': None,
 'isUSMarketOpen': False,
 'lastTradeTime': 1660817393958,
 'latestPrice': 175.82,
 'latestSource': 'Close',
 'latestTime': 'April 1, 2022',
 'latestUpdate': 1712398439922,
 'latestVolume': 81586730,
 'low': 173.24,
 'lowSource': 'enml ir1y i5dua teedcpe',
 'lowTime': 1718724845030,
 'marketCap': 2862913907973,
 'oddLotDelayedPrice': 176.03,
 'oddLotDelayedPriceTime': 1661793659158,
 'open': 180.07,
 'openSource': 'ioflafic',
 'openTime': 1686567458883,
 'peRatio': 29.93,
 'previousClose': 179.48,
 'previousVolume': 105817724,
 'primaryExchange': 'QADNSA',
 'symbol': 'AAPL',
 'volume': 78901012,
 'week52High': 188.57,
 'week52Low': 127.54,
 'ytdChange': -0.01956431256470671}

In [6]:
pe_ratio = data["peRatio"]
pe_ratio

29.93

In [7]:
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i+n]

symbol_groups = list(chunks(stocks["Ticker"], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(",".join(symbol_groups[i]))

my_columns = ["Ticker", "Price", "Price-to-Earnings Ratio", "Number of Shares to Buy"]

In [8]:
final_df = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(","):
        try:
            final_df = final_df.append(
                pd.Series([symbol,
                        data[symbol]["quote"]["latestPrice"],
                        data[symbol]["quote"]["peRatio"],
                        "N/A"],
                        index = my_columns), 
                        ignore_index = True
            )
        except:
            pass

final_df

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  137.37                      34                     N/A
1      AAL   18.97                      -6                     N/A
2      AAP  212.71                   22.33                     N/A
3     AAPL  175.98                    29.1                     N/A
4     ABBV  164.16                   26.07                     N/A
..     ...     ...                     ...                     ...
497    YUM  121.29                   23.33                     N/A
498    ZBH  128.94                    68.8                     N/A
499   ZBRA  426.32                   26.68                     N/A
500   ZION   66.60                    6.55                     N/A
501    ZTS  192.06                   46.19                     N/A

[502 rows x 4 columns]

In [9]:
final_df.sort_values("Price-to-Earnings Ratio", inplace = True)
final_df = final_df[final_df["Price-to-Earnings Ratio"] > 0]
final_df = final_df[:50]
final_df.reset_index(inplace = True)
final_df.drop("index", axis = 1, inplace = True)

In [10]:
final_df.sort_values(by = "Price-to-Earnings Ratio", ascending = False, inplace = True)
final_df

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
49    KSS   61.18                    9.97                     N/A
48     WU   19.94                    9.94                     N/A
47    CTL   11.00                    9.89                     N/A
46     MU   78.88                    9.83                     N/A
45   REGN  716.28                    9.81                     N/A
44    BBY   93.75                    9.55                     N/A
43    TSN   91.22                    9.34                     N/A
42     RE  319.50                    9.28                     N/A
41    LNC   67.33                    9.17                     N/A
40    CFG   45.11                    8.99                     N/A
39    JPM  140.95                    8.89                     N/A
38      T   24.34                    8.82                     N/A
37    DGX  137.12                    8.79                     N/A
36     CE  149.93                    8.78                     N/A
35    MHK  129.34                    8.72                     N/A
34     RF   21.52                    8.65                     N/A
33   DISH   32.60                     8.6                     N/A
32    KEY   21.84                    8.51                     N/A
31    AIZ  193.98                    8.48                     N/A
30    UNM   32.86                    8.18                     N/A
29    IVZ   23.45                     8.1                     N/A
28    WDC   50.57                    7.89                     N/A
27    DOW   67.12                    7.85                     N/A
26    BEN   29.05                     7.7                     N/A
25   CINF  140.66                    7.62                     N/A
24     GM   43.40                    6.69                     N/A
23    HPQ   36.00                    6.67                     N/A
22    NUE  156.41                    6.59                     N/A
21   ZION   66.60                    6.55                     N/A
20    LYB  105.13                    6.46                     N/A
19    DHI   78.32                    6.37                     N/A
18     DD   77.18                    6.34                     N/A
17    DFS  114.47                    6.33                     N/A
16    PRU  119.70                    6.33                     N/A
15    WHR  177.14                    6.12                     N/A
14    WBA   45.84                    6.07                     N/A
13    LEN   83.86                    6.05                     N/A
12    AIG   66.67                       6                     N/A
11    PHM   43.71                       6                     N/A
10    PVH   80.92                    5.91                     N/A
9     HPE   17.01                    5.85                     N/A
8      GS  337.77                    5.63                     N/A
7     MPC   85.33                    5.58                     N/A
6       C   53.93                    5.29                     N/A
5     SYF   36.62                    4.92                     N/A
4     COF  132.32                    4.86                     N/A
3     NRG   38.80                     4.4                     N/A
2     BIO  573.96                    4.25                     N/A
1       F   16.73                     3.9                     N/A
0    EBAY   57.93                    2.87                     N/A

In [11]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

In [12]:
portfolio_input()

Enter the value of your portfolio:100000

In [13]:
position_size = float(portfolio_size) / len(final_df.index)
for i in range(0, len(final_df['Ticker'])):
    final_df.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_df['Price'][i])
final_df

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
49    KSS   61.18                    9.97                      32
48     WU   19.94                    9.94                     100
47    CTL   11.00                    9.89                     181
46     MU   78.88                    9.83                      25
45   REGN  716.28                    9.81                       2
44    BBY   93.75                    9.55                      21
43    TSN   91.22                    9.34                      21
42     RE  319.50                    9.28                       6
41    LNC   67.33                    9.17                      29
40    CFG   45.11                    8.99                      44
39    JPM  140.95                    8.89                      14
38      T   24.34                    8.82                      82
37    DGX  137.12                    8.79                      14
36     CE  149.93                    8.78                      13
35    MHK  129.34                    8.72                      15
34     RF   21.52                    8.65                      92
33   DISH   32.60                     8.6                      61
32    KEY   21.84                    8.51                      91
31    AIZ  193.98                    8.48                      10
30    UNM   32.86                    8.18                      60
29    IVZ   23.45                     8.1                      85
28    WDC   50.57                    7.89                      39
27    DOW   67.12                    7.85                      29
26    BEN   29.05                     7.7                      68
25   CINF  140.66                    7.62                      14
24     GM   43.40                    6.69                      46
23    HPQ   36.00                    6.67                      55
22    NUE  156.41                    6.59                      12
21   ZION   66.60                    6.55                      30
20    LYB  105.13                    6.46                      19
19    DHI   78.32                    6.37                      25
18     DD   77.18                    6.34                      25
17    DFS  114.47                    6.33                      17
16    PRU  119.70                    6.33                      16
15    WHR  177.14                    6.12                      11
14    WBA   45.84                    6.07                      43
13    LEN   83.86                    6.05                      23
12    AIG   66.67                       6                      29
11    PHM   43.71                       6                      45
10    PVH   80.92                    5.91                      24
9     HPE   17.01                    5.85                     117
8      GS  337.77                    5.63                       5
7     MPC   85.33                    5.58                      23
6       C   53.93                    5.29                      37
5     SYF   36.62                    4.92                      54
4     COF  132.32                    4.86                      15
3     NRG   38.80                     4.4                      51
2     BIO  573.96                    4.25                       3
1       F   16.73                     3.9                     119
0    EBAY   57.93                    2.87                      34

In [15]:
#improved strategy

In [16]:
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=advanced-stats,quote&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# P/E Ratio
pe_ratio = data[symbol]['quote']['peRatio']

# P/B Ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

#P/S Ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# EV/EBITDA
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# EV/GP
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

In [17]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy', 
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

In [19]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        try:
            enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
            ebitda = data[symbol]['advanced-stats']['EBITDA']
            gross_profit = data[symbol]['advanced-stats']['grossProfit']
            
            try:
                ev_to_ebitda = enterprise_value/ebitda
            except TypeError:
                ev_to_ebitda = np.NaN
            
            try:
                ev_to_gross_profit = enterprise_value/gross_profit
            except TypeError:
                ev_to_gross_profit = np.NaN
                
            rv_dataframe = rv_dataframe.append(
                pd.Series([
                    symbol,
                    data[symbol]['quote']['latestPrice'],
                    'N/A',
                    data[symbol]['quote']['peRatio'],
                    'N/A',
                    data[symbol]['advanced-stats']['priceToBook'],
                    'N/A',
                    data[symbol]['advanced-stats']['priceToSales'],
                    'N/A',
                    ev_to_ebitda,
                    'N/A',
                    ev_to_gross_profit,
                    'N/A',
                    'N/A'
            ],
            index = rv_columns),
                ignore_index = True
            )
        except:
            pass

In [20]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,138.27,N/A,35,N/A,7.83,N/A,6.47,N/A,25.003309,N/A,12.346191,N/A,N/A
1,AAL,18.64,N/A,-6,N/A,-1.61,N/A,0.4123,N/A,-11.779731,N/A,1.197344,N/A,N/A
2,AAP,212.06,N/A,22.71,N/A,4.06,N/A,1.18,N/A,12.321521,N/A,2.775317,N/A,N/A
3,AAPL,175.96,N/A,29.78,N/A,39.9,N/A,7.77,N/A,23.185203,N/A,18.527782,N/A,N/A
4,ABBV,167.68,N/A,26.42,N/A,19.29,N/A,5.2,N/A,12.871122,N/A,9.370086,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,YUM,119.36,N/A,23.41,N/A,-4.2,N/A,5.26,N/A,19.662102,N/A,9.093426,N/A,N/A
717,ZBH,131.72,N/A,69.7,N/A,2.16,N/A,3.52,N/A,19.036049,N/A,6.021090,N/A,N/A
718,ZBRA,429.45,N/A,27.34,N/A,7.42,N/A,4,N/A,19.217707,N/A,8.579975,N/A,N/A
719,ZION,66.40,N/A,6.37,N/A,1.44,N/A,2.85,N/A,4.822652,N/A,2.561124,N/A,N/A
720,ZTS,194.57,N/A,46.9,N/A,20.57,N/A,11.6,N/A,31.461579,N/A,17.813670,N/A,N/A

In [21]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio','Price-to-Sales Ratio',  'EV/EBITDA','EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

In [22]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

In [23]:
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'
}

for row in rv_dataframe.index:
    for metric in metrics.keys():
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

In [24]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,138.27,N/A,35.00,0.73301,7.83,0.789182,6.4700,0.811373,25.003309,0.807212,12.346191,0.803051,N/A
1,AAL,18.64,N/A,-6.00,0.038141,-1.61,0.051318,0.4123,0.026352,-11.779731,0.054092,1.197344,0.034674,N/A
2,AAP,212.06,N/A,22.71,0.471567,4.06,0.575589,1.1800,0.149098,12.321521,0.402219,2.775317,0.138696,N/A
3,AAPL,175.96,N/A,29.78,0.643551,39.90,0.972261,7.7700,0.850208,23.185203,0.769764,18.527782,0.918169,N/A
4,ABBV,167.68,N/A,26.42,0.560333,19.29,0.932039,5.2000,0.723301,12.871122,0.427184,9.370086,0.669903,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,YUM,119.36,N/A,23.41,0.483356,-4.20,0.04577,5.2600,0.729542,19.662102,0.692094,9.093426,0.647712,N/A
717,ZBH,131.72,N/A,69.70,0.930652,2.16,0.278779,3.5200,0.52982,19.036049,0.672677,6.021090,0.393897,N/A
718,ZBRA,429.45,N/A,27.34,0.578363,7.42,0.764216,4.0000,0.588766,19.217707,0.676838,8.579975,0.567268,N/A
719,ZION,66.40,N/A,6.37,0.09154,1.44,0.149792,2.8500,0.436893,4.822652,0.102635,2.561124,0.127601,N/A
720,ZTS,194.57,N/A,46.90,0.84258,20.57,0.938974,11.6000,0.918863,31.461579,0.891817,17.813670,0.901526,N/A

In [25]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,138.27,N/A,35.00,0.73301,7.83,0.789182,6.4700,0.811373,25.003309,0.807212,12.346191,0.803051,0.788766
1,AAL,18.64,N/A,-6.00,0.038141,-1.61,0.051318,0.4123,0.026352,-11.779731,0.054092,1.197344,0.034674,0.040915
2,AAP,212.06,N/A,22.71,0.471567,4.06,0.575589,1.1800,0.149098,12.321521,0.402219,2.775317,0.138696,0.347434
3,AAPL,175.96,N/A,29.78,0.643551,39.90,0.972261,7.7700,0.850208,23.185203,0.769764,18.527782,0.918169,0.830791
4,ABBV,167.68,N/A,26.42,0.560333,19.29,0.932039,5.2000,0.723301,12.871122,0.427184,9.370086,0.669903,0.662552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,YUM,119.36,N/A,23.41,0.483356,-4.20,0.04577,5.2600,0.729542,19.662102,0.692094,9.093426,0.647712,0.519695
717,ZBH,131.72,N/A,69.70,0.930652,2.16,0.278779,3.5200,0.52982,19.036049,0.672677,6.021090,0.393897,0.561165
718,ZBRA,429.45,N/A,27.34,0.578363,7.42,0.764216,4.0000,0.588766,19.217707,0.676838,8.579975,0.567268,0.63509
719,ZION,66.40,N/A,6.37,0.09154,1.44,0.149792,2.8500,0.436893,4.822652,0.102635,2.561124,0.127601,0.181692
720,ZTS,194.57,N/A,46.90,0.84258,20.57,0.938974,11.6000,0.918863,31.461579,0.891817,17.813670,0.901526,0.898752

In [26]:
rv_dataframe.sort_values(by = 'RV Score', inplace = True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop = True, inplace = True)

In [27]:
portfolio_input()

Enter the value of your portfolio:100000

In [28]:
position_size = float(portfolio_size) / len(rv_dataframe.index)
for i in range(0, len(rv_dataframe['Ticker'])-1):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / rv_dataframe['Price'][i])
rv_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,AAL,18.68,107,-6.00,0.038141,-1.6200,0.049931,0.4110,0.024965,-12.568768,0.049931,1.258193,0.040222,0.040638
1,AAL,18.64,107,-6.00,0.038141,-1.6100,0.051318,0.4123,0.026352,-11.779731,0.054092,1.197344,0.034674,0.040915
2,UNM,32.49,61,8.14,0.110957,0.5880,0.055479,0.5408,0.04577,3.952502,0.081831,0.529898,0.001387,0.059085
3,PRU,124.30,16,6.11,0.080444,0.7241,0.059639,0.6348,0.0638,4.143162,0.085992,0.638217,0.006935,0.059362
4,AIG,65.99,30,6.00,0.073509,0.7892,0.062413,1.0120,0.120666,3.897596,0.080444,1.016938,0.022191,0.071845
5,AIG,64.78,30,6.10,0.078363,0.7958,0.0638,1.0300,0.124133,3.738168,0.074896,0.961426,0.019417,0.072122
6,GM,43.81,45,6.58,0.0957,1.0500,0.083218,0.5029,0.044383,2.209253,0.061026,1.872425,0.084605,0.073786
7,PVH,78.43,25,5.93,0.072122,1.0385,0.079057,0.5983,0.054092,5.381895,0.127601,1.201669,0.036061,0.073786
8,GM,43.09,46,6.70,0.098474,1.0700,0.090846,0.4953,0.042996,2.203673,0.059639,1.939841,0.090153,0.076422
9,LNC,67.48,29,8.90,0.128988,0.5709,0.054092,0.6068,0.056865,6.423720,0.153953,0.570689,0.004161,0.079612
10,C,54.18,36,5.19,0.0638,0.5680,0.052705,1.2900,0.166436,3.304884,0.069348,1.278842,0.048544,0.080166
11,C,53.30,37,5.34,0.065187,0.5911,0.056865,1.3000,0.170596,3.401431,0.072122,1.268636,0.044383,0.081831
12,F,17.08,117,3.76,0.053398,1.4000,0.14147,0.4947,0.041609,4.160944,0.088766,2.216318,0.101248,0.085298
13,F,16.82,118,3.76,0.053398,1.4100,0.144244,0.4918,0.040222,4.194308,0.09154,2.255217,0.102635,0.086408
14,MET,70.90,28,9.82,0.144244,0.9000,0.069348,0.8368,0.088766,5.431443,0.128988,0.817284,0.01387,0.089043
15,SYF,35.92,55,4.90,0.059639,1.4900,0.158114,1.1400,0.143551,3.210623,0.067961,1.180479,0.030513,0.091956
16,KSS,63.10,31,9.56,0.140083,1.6900,0.187933,0.3998,0.018031,4.150564,0.087379,1.303331,0.051318,0.096949
17,WBA,45.32,44,6.02,0.075589,1.5100,0.159501,0.2983,0.008322,7.018362,0.176144,1.664892,0.074896,0.09889
18,DXC,31.76,62,-13.55,0.030513,1.6600,0.180305,0.4744,0.038835,4.834715,0.104022,2.782863,0.14147,0.099029
19,DXC,31.71,63,-13.46,0.0319,1.6700,0.182386,0.4699,0.037448,5.022698,0.112344,2.779984,0.140083,0.100832
20,HPQ,36.20,55,6.60,0.097087,-16.6100,0.027739,0.5798,0.051318,7.009771,0.174757,3.127674,0.166436,0.103467
21,PHM,42.89,46,5.80,0.069348,1.4000,0.14147,0.7438,0.074896,4.171675,0.090153,2.882527,0.151179,0.105409
22,COF,135.28,14,4.96,0.061026,0.9211,0.072122,1.7100,0.25104,3.474319,0.073509,1.603619,0.070735,0.105687
23,COF,132.42,15,5.09,0.062413,0.9152,0.070735,1.7500,0.259362,3.377168,0.070735,1.596387,0.069348,0.106519
24,MHK,125.31,15,8.38,0.112344,1.0000,0.075589,0.7555,0.07767,5.135503,0.120666,3.007865,0.159501,0.109154
25,AIZ,191.74,10,8.48,0.113731,2.0000,0.246186,1.0500,0.128294,2.336491,0.062413,1.068420,0.026352,0.115395
26,GS,346.52,5,5.61,0.066574,1.1300,0.101248,1.7400,0.254508,3.843832,0.07767,1.739934,0.07767,0.115534
27,GS,344.42,5,5.76,0.067961,1.1200,0.099861,1.7900,0.26491,3.837706,0.076283,1.716033,0.076283,0.11706
28,AIZ,192.54,10,8.49,0.115118,2.0300,0.251734,1.0600,0.131068,2.352138,0.0638,1.060862,0.024965,0.117337
29,HIG,75.81,26,11.41,0.169209,1.4200,0.147018,1.0900,0.135922,4.967098,0.110957,1.057658,0.023578,0.117337
30,L,66.43,30,11.11,0.165049,0.9410,0.073509,1.1400,0.143551,5.873907,0.142857,1.553511,0.065187,0.118031
31,RE,309.30,6,9.01,0.131761,1.2000,0.10957,1.0600,0.131068,7.599155,0.20527,0.988678,0.020804,0.119695
32,WDC,50.77,39,7.77,0.104716,1.3100,0.128988,0.8101,0.087379,5.686057,0.134535,3.375186,0.181692,0.127462
33,UAL,47.53,42,-7.80,0.036061,3.0600,0.452843,0.6309,0.061026,-15.856628,0.047157,1.266070,0.042996,0.128017
34,BEN,28.41,70,7.54,0.101248,1.2200,0.112344,1.6500,0.241331,5.504035,0.130374,1.505163,0.062413,0.129542
35,WHR,174.43,11,6.22,0.081831,2.1000,0.267684,0.4658,0.036061,5.315843,0.124827,2.859333,0.144244,0.130929
36,BEN,28.74,69,7.46,0.099861,1.2400,0.113731,1.7000,0.24896,5.597833,0.133148,1.493476,0.061026,0.131345
37,LEN,85.53,23,6.02,0.075589,1.2100,0.110957,0.8926,0.097087,4.807413,0.101248,4.798984,0.284327,0.133842
38,NRG,39.40,50,4.40,0.058252,2.6700,0.371012,0.3523,0.01387,3.871897,0.079057,2.989898,0.158114,0.136061
39,DHI,77.30,25,6.35,0.089459,1.7500,0.209431,0.9404,0.101248,4.944195,0.106796,3.489902,0.192788,0.139945
40,DHI,77.08,25,6.29,0.084605,1.7700,0.212205,0.9545,0.104022,4.951684,0.10957,3.474190,0.190014,0.140083
41,T,24.19,82,8.93,0.130374,1.0500,0.083218,1.0300,0.124133,6.374988,0.152566,3.708935,0.210818,0.140222
42,HCA,261.99,7,11.99,0.18724,-84.9000,0.009709,1.3200,0.178918,8.661323,0.256588,1.898891,0.087379,0.143967
43,PRGO,39.70,50,-76.16,0.01387,1.0000,0.075589,1.2600,0.160888,7.615693,0.208044,4.773231,0.280166,0.147712
44,HCA,256.92,7,12.41,0.199723,-84.7200,0.011096,1.3400,0.18724,8.613609,0.255201,1.886726,0.085992,0.14785
45,FDX,230.20,8,12.01,0.190014,2.3700,0.317614,0.6337,0.062413,6.736604,0.163662,0.791558,0.012483,0.149237
46,GPS,14.02,142,20.53,0.398752,1.8700,0.224688,0.3068,0.011096,4.424427,0.0957,0.857000,0.016644,0.149376
47,GPS,13.86,144,20.73,0.402219,1.9200,0.233703,0.3055,0.009709,4.390070,0.094313,0.839600,0.015257,0.15104
48,FDX,232.11,8,11.59,0.174757,2.4500,0.332178,0.6353,0.065187,6.976034,0.171983,0.769615,0.011096,0.15104
49,XRX,20.31,N/A,-8.00,0.034674,0.7251,0.061026,0.4482,0.029126,14.883912,0.531207,2.262238,0.104022,0.152011

In [29]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

In [30]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['Price-to-Earnings Ratio', float_template],
                    'E': ['PE Percentile', percent_template],
                    'F': ['Price-to-Book Ratio', float_template],
                    'G': ['PB Percentile',percent_template],
                    'H': ['Price-to-Sales Ratio', float_template],
                    'I': ['PS Percentile', percent_template],
                    'J': ['EV/EBITDA', float_template],
                    'K': ['EV/EBITDA Percentile', percent_template],
                    'L': ['EV/GP', float_template],
                    'M': ['EV/GP Percentile', percent_template],
                    'N': ['RV Score', percent_template]
                 }

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

In [31]:
writer.save()